@import 'tailwindcss';
@import '../shared/Pagination/style.pagination.css';

:root,
body {
  height: 100%;
  min-height: 100%;
}

@theme {
  --color-primary: #244775;
  --color-primary-grey: #f0f0f2;
  --color-primary-text-grey: #b2b2b8;
}
